img{
 align-items: center;
}
 
section{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
main{
    background: linear-gradient(150deg, #4888ff, #6fa1ff, #8cb3fd, #8fb5fa, #c7dbff, #c9c9c9);
}
ul {
    list-style: none;
}
footer {
    background-color: hwb(0 53% 47% / 0.795);
    padding: 1%;
    text-align: center;
}

footer {
    margin-top: 10px;
    font-size: 20px;
}
li {
    color: white;
}

.btn-propio {
    background-color: rgb(255, 255, 255);
}
.btn-propio:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

.btn-propio2 {
    background-color: rgb(255, 255, 255);
    margin-left: 10px;
}
.card-body {
    background-color: #e6e6e6;
}